<app-gallows-image
  [class.hideParts]="true"
  [ngClass]="hideWhatParts"
></app-gallows-image>

<br />
<p *ngIf="hasWon">You've won!</p>
<p *ngIf="hasLost">You've lost!</p>
<br />
<div class="button-container">
  <button
    *ngFor="let letter of lettersList"
    [value]="letter.name"
    (click)="letter.guess()"
    [disabled]="letter.guessed || disableButtons"
    class="guessing-letters clickable"
    [class.inWord]="letter.inWord"
    [class.reveal]="letter.guessed || isRevealed"
  >
    {{ letter.name }}
  </button>
</div>
<p class="display-phrase">{{ displayPhrase }}</p>
<form id="DebugForm">
  Missed Guesses: {{ wrongGuesses }} / {{ totalGuesses }}
  <br />
  Total Guesses: {{ totalGuesses }}
  <input
    name="totalGuesses"
    [(ngModel)]="totalGuesses"
    type="range"
    min="0"
    max="6"
  />
  <button (click)="reset()">Reset</button>
  <button (click)="reveal()">Reveal</button>
  <button (click)="continue()">Continue</button>
</form>
