<i class="hideParts" [ngClass]="hideWhatParts"></i>
<svg
  id="Hangman_Picture"
  width="114.44mm"
  height="126.77mm"
  version="1.1"
  viewBox="0 0 114.44 126.77"
  xmlns="http://www.w3.org/2000/svg"
>
  <g transform="translate(4.2321 3.8542)" fill="none" stroke="#000">
    <g
      class="podium"
      transform="translate(-34.774 -32.128)"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="3"
    >
      <path d="m37.042 148.54h52.161-26.458v-113.77h61.61v20.033" />
      <path d="m89.844 34.774-27.077 25.894" />
    </g>
    <g class="saved-man">
      <g
        transform="translate(-52.341 4.3674)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <circle cx="123.9" cy="62.707" r="7.2402" />
        <g class="body">
          <path d="m124.15 70.025 0.0668 23.921" />
          <path d="m124.21 93.945 9.575 18.561" />
          <path d="m124.21 93.945-10.986 18.402" />
          <path d="m124.22 73.656 14.755 12.94" />
          <path d="m124.22 73.656-14.11 12.672" />
        </g>
      </g>
      <g class="smile">
        <path
          d="m73.744 63.698v3.0068"
          stroke-width=".5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="m69.668 63.665v3.0068"
          stroke-width=".5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="m74.601 69.249a3.3511 3.2321 0 0 1-3.0287 1.8485 3.3511 3.2321 0 0 1-3.0285-1.8488"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width=".40044"
        />
      </g>
    </g>
    <g class="hanged-man">
      <g
        transform="translate(-34.774 -32.128)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <circle class="head" cx="123.9" cy="62.707" r="7.2402" />
        <g class="body">
          <path class="spine" d="m124.15 70.025 0.0668 23.921" />
          <g class="legs">
            <path class="right_leg" d="m124.21 93.945 9.575 18.561" />
            <path class="left_leg" d="m124.21 93.945-10.986 18.402" />
          </g>
          <g class="arms">
            <path class="right_arm" d="m124.22 73.656 14.755 12.94" />
            <path class="left_arm" d="m124.22 73.656-14.11 12.672" />
          </g>
        </g>
      </g>
      <g class="frown">
        <path
          d="m91.283 26.74v3.0068"
          stroke-width=".5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="m87.208 26.74v3.0068"
          stroke-width=".5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          transform="rotate(180.68)"
          d="m-86.676-33.237a3.3511 3.2321 0 0 1-3.0287 1.8485 3.3511 3.2321 0 0 1-3.0285-1.8488"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width=".40044"
        />
      </g>
    </g>
  </g>
</svg>
